<nav class="main_nav">
    <ul>
        <li class="active"><a href="{{ path('blog_list', {'aaa': 'x'}) }}">Home</a></li>
        <li><a href="liturgy.html.twig">Liturgy</a></li>
        <li><a href="news.html.twig">News</a></li>
        <li><a href="blog_all.html.twig">Blog</a></li>
        <li><a href="contact.html.twig">Contact</a></li>
    </ul>
</nav>