<nav class="main_nav">
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="ministries.html">Ministries</a></li>
        <li><a href="sermons.html">Sermons</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>